[2019-02-23 00:22] inishchith opened #3 "[ tests ] Fix Failing tests"
[Reference](https://travis-ci.org/inishchith/graal/jobs/497318087)

@jgbarah @valeriocos I'd like to work on this issue. Please let me know if this is already being worked on 😄

[2019-02-23 16:36] valeriocos commented on #3
Thank you @inishchith, sure you can.

I guess CI tests fail because the libraries used (e.g., nomossa, scancode) are not copied where the tests are executed. Thus some work is needed on the [travis.yml](https://github.com/chaoss/grimoirelab-graal/blob/master/.travis.yml) to upload these libraries.

There are also some minor issues related the badges due to the recent transfer of the repo. In the [

[2019-02-24 05:29] inishchith commented on #3
@valeriocos Thanks for the help. I've opened a PR with a fix for this and also updating the `README.md`. Please do have a look and let me know if any changes required 😅

[2019-02-26 15:29] #3 closed

[2019-02-26 16:22] valeriocos opened #6 "update license information"
Most files in Graal come with a old copyright date (e.g., `# Copyright (C) 2015-2018 Bitergia` -> https://github.com/chaoss/grimoirelab-graal/blob/master/tests/base_analyzer.py#L4). The goal of this issue is to check each file included in Graal and update the copyright dates where needed.

[2019-02-26 16:23] inishchith commented on #6
@valeriocos I'd like to work on this issue 😄

[2019-02-26 16:28] valeriocos commented on #6
perfect! thanks!

[2019-02-26 17:24] #6 closed

[2019-03-04 05:48] inishchith opened #8 "Add support for Lua & Golang"
`Lizard` has added support for :
- `Golang` : in release [v1.15.3](https://pypi.org/project/lizard/1.15.3/)
- `Lua` : in release [v1.16.1](https://pypi.org/project/lizard/1.16.1/)

We can add support for the above languages in `graal`.

@valeriocos Please let me know what you think, I'll be interested in working on this issue 😅

[2019-03-04 08:09] valeriocos commented on #8
That's perfect! I would start by checking the setup.py and requirements.txt

Thank you!

[2019-03-04 08:27] inishchith commented on #8
@valeriocos Thanks. I'll start working on it. 👍

[2019-03-04 14:57] #8 closed

[2019-03-28 17:09] GeorgLink opened #16 "Require DCO sign-off for new commits"
This issue is to activate [protobot/dco](https://github.com/apps/dco) (or similar bot) to check that all commits have a sign-off in this repository.

The [CHAOSS Project Charter section 8.2.1](https://chaoss.community/about/charter/#user-content-8-intellectual-property-policy) requires that all contributions are signed-off. The CHAOSS project has been piloting the use of DCO sign-offs. Once contri

[2019-03-30 08:29] inishchith opened #18 "[discussion] Improvements in existing analyzers and Additions"
This thread is for discussion related to
- Improvements in existing analyzer
- Addition of new analyzers under corresponding backends

[2019-03-31 12:50] valeriocos commented on #18
Thank you @inishchith to open this issue. We could start commenting on possible improvements and additions to trigger discussions and evaluations. Maybe later we could create other issues to focus on specific tasks. Find below some ideas, anyone is free to share his own ideas (cc @jgbarah ).

**too much python**
 The backends CoQua, CoDep and CoVuln rely on analyzers for Python. It could be useful

[2019-04-01 09:07] jgbarah commented on #18
Thanks for the opportunity. I share @valeriocos concerns and ideas. One additional improvement could be to run some tool / heuristics on every file to infer its programming language. This would allow to skip binary files from analysis, but also target specific tools to specific files based on language, for example.

One option for this would be to use [linguist](https://github.com/github/linguist)

[2019-04-01 13:49] valeriocos commented on #18
@jgbarah what do you think to integrate linguist as a backend in graal ?

[2019-04-01 17:14] jgbarah commented on #18
Not sure if as a backend, but it could be an idea.

The fact is that now I'm not aware of telling graal to say something like "if it is C, run this set of tools, if it is Python, run this other set, and if it is source code in any other language, run this one". linguist could help in this. Maybe by running lingusist first (as a backend), and based on the output from it, decide on the other tools t

[2019-04-02 09:32] valeriocos commented on #16
done @GeorgLink

[2019-04-02 09:32] #16 closed

[2019-04-02 13:25] GeorgLink commented on #16
Thanks @valeriocos

[2019-04-02 18:05] inishchith commented on #18
@valeriocos Adding [linguist](https://github.com/github/linguist) as a backend would be really leveraged on as the project progresses. I would be interested in working on adding the backend support once i've some clarity over the idea and it's functioning.

@jgbarah That sounds interesting. I'm thinking something related to adding `flags` to restrict analysis on to specific languages. I'll add a m

[2019-04-04 19:49] inishchith commented on #18
@valeriocos Any suggestions?

[2019-04-05 10:22] inishchith commented on #18
@valeriocos I'd like to some clarity over adding `linguist` as a backend. Let me know what you think :)
Thanks

[2019-04-05 10:29] valeriocos commented on #18
Sure @inishchith , I'll have a look at it and go back to you in the next days. Thanks

[2019-04-10 04:28] inishchith commented on #18
@valeriocos After understanding @jgbarah 's suggestion. I'm thinking we could integrate `linguist` as a backend ( analyzer for CoCom ) in order to infer the programming language used in a repository. And can be useful to implement metrics based on `Percentage Programming Language` of a software development repository with multiple languages in future.

Let me know what you think :)
I'd be interest

[2019-04-10 07:01] valeriocos commented on #18
Thank you @inishchith , I like the idea! Let's see how to proceed :)

Why you would like to add `linguist` as an analyzer for CoCom instead of creating a new backend (e.g., CoLang) ?

AFAIU `linguist` returns the percentage of programming languages used in a repo, taking as input the path of the repo (or the snapshot at a given commit), which seems to be incompatible with the logic used in `CoCom`

[2019-04-10 07:24] inishchith commented on #18
@valeriocos Thanks for the response.

Sorry, I missed something out there. I was thinking on the lines of inferring the programming language may `only` be useful in Code complexity analysis, whereas it can be extensible and useful to other backends as well.

Exactly! In that case, we should have a new backend ( CoLang, as you suggested )

Yes. This adds more clarity to the idea!.

@valeriocos @jgb

[2019-04-10 07:28] valeriocos commented on #18
Thank you for your prompt reply @inishchith !
+1 from my side, let's wait for @jgbarah 's feedback

[2019-04-10 08:04] apoorvaanand1998 commented on #18
Hi everyone, sorry for not being active in the discussions. College commitments are taking all of my time right now. As mentioned in the proposal, I'll be free from 16th and will work hard in thinking about CoLang as a backend

[2019-04-10 11:10] valeriocos commented on #18
Thank you @apoorvaanand1998 for your interest. If you want, you can also explore how to integrate:
- [Sonarqube](https://www.sonarqube.org/) data
- Other dependencies tools (e.g., [SonarGraph](https://github.com/sonargraph))
- Support for COBOL analysis tool <--- which would be really good to have :)

What do you think ?

[2019-04-10 13:52] inishchith commented on #18
Sorry for the delayed response.

Maybe the work to be done for this new backend could be shared with other people interested in this proposal. Since you have already some experience in writing an analyzer, you could focus on writing the backend, while the analyzers could be done by others. It is possible that the development will be slower, but it can be a good experience for those ones involved.

[2019-04-10 14:02] valeriocos commented on #18
It sounds perfect @inishchith , feel free to start when you want, thanks.

[2019-04-10 14:06] inishchith commented on #18
@valeriocos Thanks for the speedy response.

@apoorvaanand1998 Thanks for your interest in the discussion. Feel free to add your ideas here. We'll have some issues open in the next few days :)

[2019-04-11 17:01] inishchith commented on #18
@valeriocos I needed some suggestions here regarding the result to be produced.

The output produced by `linguist` for a given repository. (An instance, for [this](https://github.com/inishchith/MeetInTheMiddle) repository) would be:

[code]

I'm thinking of the following structure of result for every snapshot at a given commit. ( `breakdown` in case of set `details` flag )
[code]

What do you thin

[2019-04-11 19:47] valeriocos commented on #18
I'm not sure about the breakdown section, for large repositories this could be a really long list. We could start with the easiest solution, no breakdown section, and add it in the future (maybe, a breakdown at folder level).
What do you think @inishchith ?

[2019-04-12 08:44] inishchith commented on #18
@valeriocos For large repositories, Yes ,it'd be a long list and cause a clutter in the result produced.
The idea of breakdown at folder level sounds good to me, would require an explict entrypoint from the user. I'll mark the `breakdown` task as a` TODO`
Thanks for the suggestion. I'll open a PR soon :)

[2019-04-12 08:49] valeriocos commented on #18
great! thanks @inishchith

[2019-04-17 08:32] apoorvaanand1998 commented on #18
Hi @valeriocos, sorry for the late response. I've been looking into COBOL analyzers, and I cannot find anything that is open source. Everything is a "product". The only thing I could find was [this](https://www.ibm.com/support/knowledgecenter/en/SS6SG3_5.2.0/com.ibm.cobol52.ent.doc/migrate/igymapxc025.html), but I couldn't find any documentation on it. I feel like this is a dead end.

SonarQube ha

[2019-04-19 09:50] apoorvaanand1998 commented on #18
@valeriocos Ping. I'm really stuck. Can you point me in the right direction?

[2019-04-20 15:13] valeriocos commented on #18
Sorry @apoorvaanand1998 for the late reply. What do you think about improving the support for Java projects in Graal ?

A dependency analyzer for Java projects using [maven](https://www.mkyong.com/maven/maven-display-project-dependency/) or [gradle](https://docs.gradle.org/current/userguide/inspecting_dependencies.html) could be a nice addition. Another option is to look on Internet for open sourc

[2019-04-20 15:19] apoorvaanand1998 commented on #18
I shall check these out @valeriocos, thank you. I was also thinking of translating the yasca analyzer for Cobol to python, and sending a PR. At least this way we can get started with a COBOL analyzer. Does this sound like a good idea?

[2019-04-20 15:37] valeriocos commented on #18
You're welcome @apoorvaanand1998 .

It sounds like too much work. Probably the idea of providing support for COBOL wasn't good, as you said there is almost nothing outside to be plugged into Graal. Maybe it is better to focus on other languages, more popular and with more available analyzers. What do you think ?

[2019-04-20 15:43] apoorvaanand1998 commented on #18
I agree @valeriocos, I shall get started on my research and when I have a clear idea, I'll open an issue for more specific discussion. Is that okay?

[2019-04-20 15:59] valeriocos commented on #18
that's perfect @apoorvaanand1998 , thank you :)

[2019-04-26 11:00] apoorvaanand1998 opened #23 "[discussion] Dependency Analyzer for Java Projects"
[JDeps](https://docs.oracle.com/javase/8/docs/technotes/tools/unix/jdeps.html) is a class/package dependency analyzer for Java. It is present in Oracle Java/OpenJDK's bin folder. [This](https://blog.codefx.org/tools/jdeps-tutorial-analyze-java-project-dependencies/) is a relevant tutorial.

Here are a few issues I am facing while trying to integrate JDeps as an analyzer:
- Given a JAR file, the ou

[2019-04-28 06:07] inishchith opened #24 "[backends] Add backend analyzer options to help message"
In reference to the future improvements suggested [here](https://github.com/chaoss/grimoirelab-graal/pull/19#issuecomment-486316529).

I am interested in working on this, @valeriocos Please do let me know what you think :)

[2019-04-28 08:09] valeriocos commented on #24
Perfect @inishchith , it looks a good idea. Feel free to start when you want, thanks!

[2019-05-03 10:57] #24 closed

[2019-05-05 12:39] valeriocos commented on #23
Sorry for the late reply @apoorvaanand1998 and thank you for reporting your feedback. I'll check how to use the git backend to get the relevant JAR files.

Thanks!

[2019-05-08 18:08] inishchith opened #27 "Add scancli option to CoLic Backend"
Adding support of a faster version of scancode ( `scancli` ) to CoLic Backend.

@valeriocos Please let me know if i can work on this.
Thanks

[2019-05-08 19:12] valeriocos commented on #27
Sure @inishchith , thanks !
You can find useful info at the following urls:
- https://github.com/valeriocos/grimoirelab-graal/tree/test-scancli/graal/backends/core
- https://github.com/nexB/scancode-toolkit/issues/1400
- https://github.com/nexB/scancode-toolkit/issues/1400#issuecomment-469713862

A possible implementation could add a boolean param `cli` here: https://github.com/chaoss/grimoirelab-

[2019-05-09 11:09] inishchith commented on #27
@valeriocos Thanks for the supporting links and insights on how to go about the task.
I'll start working on the task and open a PR once done, then we can have further discussion over there.

Thanks :)

[2019-05-10 18:11] inishchith commented on #27
@valeriocos can you share the version of scancode release or the setup that you used in order to run `scancli` successfully?
I read the discussion on https://github.com/nexB/scancode-toolkit/issues/1400 but couldn't reproduce the results as I ran into multiple errors, so thought of asking before moving forward.

Thanks

[2019-05-12 14:13] valeriocos commented on #27
Sorry for the late reply @inishchith

In the virtual env used by graal, I installed ` simplejson` and `execnet` as reported here: https://github.com/nexB/scancode-toolkit/commit/8afa686fb71b9540029234e5a40c0572c4457c28#diff-f826f8c8f6f35f368b2a692610f05d62R18

Then I used the following branch: https://github.com/valeriocos/grimoirelab-graal/tree/test-scancli/graal, and launched the backend in the

[2019-05-12 17:10] inishchith commented on #27
@valeriocos Thanks for sharing the information.

- [These](https://github.com/nexB/scancode-toolkit/commit/8afa686fb71b9540029234e5a40c0572c4457c28#diff-f826f8c8f6f35f368b2a692610f05d62R18) changes were introduced on `5th March 2019` and [Scancode-toolkit v3.0.0](https://github.com/nexB/scancode-toolkit/releases/tag/v3.0.0) was relased on `15th Feb 2019` ( i.e before the changes were made ), Hence

[2019-05-12 19:17] valeriocos commented on #27
Sorry @inishchith I made a mistake. It wasn't version 3.0.0, but the checkout at https://github.com/nexB/scancode-toolkit/commit/8afa686fb71b9540029234e5a40c0572c4457c28 (as reported here: https://github.com/nexB/scancode-toolkit/issues/1400#issuecomment-469713862). The code was then merged in the develop branch (as reported here: https://github.com/nexB/scancode-toolkit/issues/1400#issuecomment-4

[2019-05-13 11:32] inishchith commented on #27
@valeriocos Sorry for the delayed response.

I tried reproducing the results using your setup information and the `test-scancli` branch of your fork. But I couldn't do it, I feel there has been some change to the implementation since. I've shared the error log. Please do let me know if you've encountered it before or i must have missed something out. Thanks :)

- Error log
[code]

[2019-05-13 16:54] valeriocos commented on #27
No worries @inishchith :)

I have uploaded a [branch](https://github.com/valeriocos/grimoirelab-graal/tree/kickstart-scancli/graal) with some improvements in the code, however I confirm what you reported: the errors you posted appear when using the `develop` or `master` branches of the original repo. However if you perform the following steps and run the same code, no errors pop up:
[code]

[code]

[2019-05-13 17:56] inishchith commented on #27
@valeriocos Thanks for checking the issue out. After the checkout commit, I could reproduce the results 👍

Also I checked out your implementation of `scancode_cli` [here](https://github.com/valeriocos/grimoirelab-graal/tree/kickstart-scancli/graal).
I noticed that you're passing all the files at once as arguments instead of passing files individually as per the in-place convention, does it provide

[2019-05-13 18:22] valeriocos commented on #27
Great @inishchith !

Yes, this is one of the feature of scancli (check the comment here: https://github.com/nexB/scancode-toolkit/issues/1400#issuecomment-469055895, and the following one).

If you test `scancode` and `scancli` against https://github.com/chaoss/grimoirelab-toolkit you should see the difference.

[2019-05-14 18:50] inishchith commented on #27
@valeriocos thanks for answering.
As my unversity exams are under way, i'll work on this when time permits.
I'll probably test `scancode` and `scancli` to check the difference tomorrow and continue the work which is currently staged.

Sorry for the delayed response.

[2019-05-15 12:19] valeriocos commented on #27
No worries @inishchith , I have just open a PR (https://github.com/chaoss/grimoirelab-graal/pull/28) with some code to use scancli.

Feel free to work on that PR or create a new one.

[2019-05-15 15:28] inishchith commented on #27
@valeriocos Sure.
I checked out #28 , The work that i've done until now seems similar.
Still, I'll open a PR in some time so that we can work on adding tests for it too.

Thanks

[2019-05-28 16:47] inishchith commented on #27
@valeriocos I think we can close this. what do you think?

[2019-05-28 16:58] valeriocos commented on #27
Sure @inishchith , feel free to close it.

[2019-05-28 17:01] #27 closed

[2019-06-01 11:39] #23 closed

[2019-06-04 13:22] inishchith opened #33 "[graal] Checkout log an issue in case of large repositories"
**Issue Scenario:** I found this out when I was working on the integration task of Graal with ELK (https://github.com/inishchith/gsoc-graal/issues/4). which causes the [checkout log](https://github.com/chaoss/grimoirelab-graal/blob/master/graal/graal.py#L325) (for the number of commits):
[code]
This wouldn't be a `good to have` in case of repositories of a large number of commits causing a console

[2019-06-04 13:31] valeriocos commented on #33
Thank you for reporting this potential issue @inishchith . Maybe we could change the log level to `debug` (this could be applied to most messages except the one in `graal.fetch_items`. What do you think ?

[2019-06-04 14:15] inishchith commented on #33
@valeriocos Thanks for the quick response!
Yes. That would be better indeed.
I'd propose a fix for this in some time :)

[2019-06-04 15:00] valeriocos commented on #33
great! thanks @inishchith

[2019-06-04 15:28] #33 closed

[2019-06-11 18:12] inishchith opened #35 "[analyzer] Fix results for deleted files"
A file, when deleted in a `commit`, is incorrectly handled. [REF](https://github.com/chaoss/grimoirelab-graal/blob/master/graal/backends/core/cocom.py#L139) and would lead to
- Duplicate files ( in case the file path is changed )
- Loosing out information related to a file.

The issue persists in `CoCom` and `CoLic` backend as the analysis performed in both the cases is at file level

@valeriocos

[2019-06-11 18:26] inishchith opened #36 "[cocom] Evaluating results with repository level analysis"
- Evaluating an option of `repository_level` analysis for the ease of visualization

[2019-06-11 18:42] valeriocos commented on #35
Yes, sure @inishchith , thanks

[2019-06-11 18:48] valeriocos commented on #36
Would this option imply to execute the analysis at repository level for each commit? If so, the analysis for large repositories may be problematic.

[2019-06-11 18:53] inishchith commented on #36
@valeriocos Yes, had the thought and thanks for pointing it out!.
I've had a look at [Lizard's Usage](https://github.com/terryyin/lizard#usage) and would evaluate and update you how it goes.

[2019-06-12 18:21] inishchith commented on #36
@valeriocos

I've tried to implement the repository level analysis. Below is the comparison.

| Repository   | Number of Commits |  *File Level           | Repository Level  |
| :-------------: | :---------: |:-------------: | :-----:|
| [coala/coala](https://github.com/coala/coala) | 4458 | 58.89 min | 59.92 min |
| [chaoss/grimoirelab-perceval]()| 1387 | 24.83 min | 26.63 min |
| [chaoss/grimoir

[2019-06-13 06:54] valeriocos commented on #36
yes sure @inishchith , feel free to submit a PR and we can discuss there, thanks!

[2019-06-27 07:29] #36 closed

[2019-07-08 15:06] #35 closed

[2019-07-08 15:06] valeriocos commented on #35
Fixed with https://github.com/chaoss/grimoirelab-graal/commit/3382cb4aeeb45631e6fe035eedebbd9a21257b30

[2019-07-14 11:24] FredaPinto opened #44 "issue in fetching data from graal command"
Hi Team,

I have installed Graal using pip command in virtualenv and trying to fetch data in python script so i was getting error.
So i tried to fetch data from commandline and i m getting following error.
Kindly suggest what i can be missing or is it some bug ?

**(graal) freda@freda-HP-Laptop-15-bs0xx:~**$ graal cocom https://github.com/nodejs/help --git-path /home/freda/nodejs
[2019-07-14 12:14

[2019-07-14 11:28] FredaPinto commented on #44
Hi Team,

I just realizied cloc is dependency and i installed it now.
Thanks.

[2019-07-14 11:28] #44 closed

[2019-07-14 11:38] valeriocos commented on #44
thank you for using Graal @FredaPinto !

[2019-07-20 16:07] inishchith opened #47 "[cocom] Redundant log on every file-open operation"
- A log appears very frequently during the execution of ELK and Graal via the new connector.
- It's related to `read` file-type operation related to lizard library.

(Not sure why it doesn't show up while executing the lizard-analyzer via the command line interface)

**LOG**
[code]
(ref. [lizard_ext:line](https://github.com/terryyin/lizard/blob/master/lizard_ext/auto_open.py#L9))

- In order to re

[2019-07-21 14:06] valeriocos commented on #47
Thanks @inishchith for reporting this issue! I'll check it out!

[2019-07-24 06:52] inishchith opened #48 "[colic] Incorrect extraction of copyright information"
The extracted information about copyright definition is not as expected, which needs to be looked after from the [nexB/scancode-toolkit](https://github.com/nexB/scancode-toolkit)

[2019-08-06 06:41] inishchith opened #49 "[colic] Add copyright flag for extraction of copyright information"
- Some of the analyzers under Code License(CoLic) backend don't extract copyright information as the implementation doesn't have `copyright` flag.
- For example, `scancode` only extracts only license information ([reference](https://github.com/chaoss/grimoirelab-graal/blob/master/graal/backends/core/analyzers/scancode.py#L62))

[2019-08-09 10:34] #49 closed

[2019-08-11 14:55] kelson42 opened #51 "[QUESTION] Does Grall work with Kibiter?"
Do we can somehow get Grall output ingested by Kibiter?  I would like to improve https://hub.docker.com/r/grimoirelab/full to benefit of Graal computed numbers.

[2019-08-11 21:24] valeriocos commented on #51
Hi @kelson42, sorry for the late reply and thank you for the interest in Graal. There is an ongoing Google Summer of Code project  to integrate Graal with Grimoirelab toolchain. You can find more details at:
- https://github.com/inishchith/gsoc
- https://github.com/chaoss/grimoirelab-elk/pull/672
- https://github.com/chaoss/grimoirelab-sirmordred/pull/320
- https://grimoirelab-incubator.biterg.io

[2019-08-12 09:57] kelson42 commented on #51
@valeriocos Thank you. This looks promising. Really eager to use this in our future GrimoirLab instance for https://github.com/openzim/ and https://github.com/kiwix/. Hopefully it will work out for us with a reasonable amount of work.
@florentk Could you please have a look to the pointers given so we can know if this is viable for us?

[2019-08-12 09:57] #51 closed

[2019-08-12 11:23] valeriocos commented on #47
The following PR should fix this issue: https://github.com/chaoss/grimoirelab-graal/pull/52

[2019-08-13 07:41] inishchith commented on #47
@valeriocos If you agree we can close this in reference to #52

[2019-08-13 07:49] valeriocos commented on #47
sure!

[2019-08-13 07:49] #47 closed

[2019-08-16 14:23] inishchith opened #54 "[colic] Slow execution of ScanCode-CLI"
- **Scancode-CLI** as [reported](https://github.com/nexB/scancode-toolkit/issues/1400#issuecomment-473534661), should be faster; but after being tested(below) is found to be slower when the number of files is huge.

| Repository   | Commits | Files | Analyzer | Time |
| :-------------: | :---------: |:-------------: | :-----:| :-----:|
| [chaoss/grimoirelab-graal](https://github.com/chaoss/grimoir

[2019-08-16 14:34] valeriocos commented on #54
I'll check whether similar numbers for xiph/vorbis are obtained when using just graal.

[2019-08-16 15:01] inishchith opened #55 "[colic] KeyError on execution of ELK with ScanCode-CLI"
- ScanCode-CLI, when executed with ELK, showed the following error. Executes well with other repositories(eg. Graal) when tested.

- **Error Log**

[code]

[2019-08-16 15:08] inishchith opened #56 "[cocom] Impossible to checkout the worktree"
- **Error Log**
[code]

/cc @valeriocos

[2019-08-17 11:51] florentk opened #57 "[cocom] Analysis fail : invalid literal for int() with base 10"
I got this error when analyse somes of our repositories.

Example of Traceback :
[code]

or :
[code]

[2019-08-17 13:06] valeriocos commented on #57
Thank you for reporting this @florentk . It seems that you are not using the code in the master branch, but an older release.
`"/usr/local/lib/python3.5/dist-packages/graal/backends/core/analyzers/cloc.py", line 58` is currently an empty line: https://github.com/chaoss/grimoirelab-graal/blob/master/graal/backends/core/analyzers/cloc.py#L58

[2019-08-17 15:06] valeriocos commented on #56
A PR is available to cope with this issue. I'm still testing it over the chaoss repos (kibiter excluded)

[2019-08-17 17:53] inishchith commented on #56
@valeriocos Thanks for working on this. Do you want me to test the fix?
( if you know how to reproduce it please let me know )

[2019-08-17 19:47] valeriocos commented on #56
You're welcome! Yes, feel free to test it. It's pretty difficult to replicate because it doesn't appear so often. I tried with graal and the error didn't appear, then I tried with a battery of repos (the chaoss ones) and it popped up.

[2019-08-17 20:13] valeriocos commented on #55
The error can be reproduced with the following conf:
[code]

[2019-08-18 16:43] #55 closed

[2019-08-18 17:20] #56 closed

[2019-08-20 14:18] inishchith commented on #54
@valeriocos Did you get time to check this issue?

[2019-08-20 14:22] valeriocos commented on #54
I couldn't, sorry, but I have it in my TODO list :)

[2019-08-20 14:24] inishchith commented on #54
No worries. Thanks for the quick response!

[2019-09-19 07:07] inishchith commented on #54
@valeriocos I'll start a execution of CoLic task for some of the repositories (the list) and share the reports here. and then I'll open up a issue ticket to discuss the differences/issues with the results (if any)
 WDYT?

[2019-09-19 07:19] valeriocos commented on #54
Hi @inishchith , that sounds great! thanks!

[2019-10-01 11:32] valeriocos opened #62 "[analyzers] Evaluate the integration of Sloc Cloc and Code (scc)"
Sloc Cloc and Code ([scc](https://github.com/boyter/scc/)) is a tool similar to cloc, sloccount and tokei. It is able to count lines of code, blank lines, comment lines from many programming languages. Its goal is to is to be the fastest code counter possible, but also perform COCOMO calculation like sloccount and to estimate code complexity similar to cyclomatic complexity calculators. (cc @jgbar

[2019-10-01 12:12] inishchith commented on #62
@valeriocos Thanks for raising this.
We can try and evaluate ([scc](https://github.com/boyter/scc)) against `lizard`( which is currently in place).
- Lizard has limited [language-support](https://github.com/terryyin/lizard#-lizard), while I see SCC supports [more languages](https://github.com/boyter/scc/blob/master/LANGUAGES.md).
- Comparing Lizard & SCC wouldn't be fine as Lizard provides more fi

[2019-10-01 12:23] valeriocos commented on #62
yes, sure @inishchith ! we can try to integrate it as another analyzer

[2019-10-17 16:44] sarthak0906 commented on #62
I would like to work on this if this issue is still open

[2019-10-17 17:29] inishchith commented on #62
Hi @sarthak0906, I've actually worked on this issue and would be opening the PR in some time. (sorry for not updating the thread).
Please feel free to look around ;)

[2019-10-17 17:32] sarthak0906 commented on #62
ok no problem

[2019-10-17 17:35] valeriocos commented on #62
Hi @sarthak0906 thank you for you interest! if you are looking for contributions, would you be interested in preparing a backend for sonarqube?

[2019-10-17 18:05] sarthak0906 commented on #62
@valeriocos yes I would love to contribute

[2019-10-17 18:58] sarthak0906 commented on #62
@valeriocos can you please tell once again which project are you referring to, can't find the mentioned project in the org

[2019-10-17 23:17] valeriocos commented on #62
Great @sarthak0906!

The backend could be integrated to [Perceval]( https://github.com/chaoss/grimoirelab-perceval). An initial version of the backend is available at https://github.com/crossminer/scava/blob/master/web-dashboards/perceval-scava/perceval/backends/sonarqube/sonarqube.p, but it should be improved since (i) it's not retrieving historical data, (ii) it doesn't have tests.

A good start

[2019-10-19 06:56] sarthak0906 commented on #62
I would love to contribute to it,
Just had a question, why didn't you make a new repo for it.
Also, I couldn't figure out what framework are you using.
Please assign me a task to start the development, so that I don't mess someone else working.

[2019-10-19 09:59] valeriocos commented on #62
Great!

Please fork the repo https://github.com/chaoss/grimoirelab-perceval in your GitHub profile. Then clone the forked repo in your machine and execute the following command in the directory where you cloned it
[code]
In this way, you can be able to keep your fork updated with the upstream repo by doing:
[code]

If you want to work on a new feature (such as creating a new backend in Perceval),

[2019-10-19 16:30] valeriocos opened #64 "[scancode] Use scancode from python3 interface"
Recently scancode has been ported to Python 3, thus the corresponding [analyzer](https://github.com/chaoss/grimoirelab-graal/blob/master/graal/backends/core/analyzers/scancode.py) could be updated to call scancode using a python interface instead of a system call.

After talking with @pombredanne, there are some minor fixes to be done on scancode which should be included in the upcoming release.

[2019-11-05 18:04] GeorgLink opened #66 "idea: Open Source Metric"
At All Things Open, @dizquierdo and I met with Patrick and Nick from OSI. They want to have some publicity around an “Open Source Metric”. Yesterday during the CHAOSS Risk WG, we defined “Open Source Metric” to be a filter “is OSI approved” on top of License Coverage.

If OSI follows through to create some marketing around this “Open Source Metric” and they highlight the CHAOSS project — it would

[2019-11-05 18:04] GeorgLink opened #67 "idea: "Open Source Metric""
At All Things Open, @dizquierdo and I met with Patrick and Nick from OSI. They want to have some publicity around an “Open Source Metric”. Yesterday during the CHAOSS Risk WG, we defined “Open Source Metric” to be a filter “is OSI approved” on top of License Coverage.

If OSI follows through to create some marketing around this “Open Source Metric” and they highlight the CHAOSS project — it would

[2019-11-05 18:05] GeorgLink opened #68 "idea: Open Source Metric"
At All Things Open, @dizquierdo and I met with Patrick and Nick from OSI. They want to have some publicity around an “Open Source Metric”. Yesterday during the CHAOSS Risk WG, we defined “Open Source Metric” to be a filter “is OSI approved” on top of License Coverage.

If OSI follows through to create some marketing around this “Open Source Metric” and they highlight the CHAOSS project — it would

[2019-11-05 18:05] GeorgLink opened #69 "idea: Open Source Metric"
At All Things Open, @dizquierdo and I met with Patrick and Nick from OSI. They want to have some publicity around an “Open Source Metric”. Yesterday during the CHAOSS Risk WG, we defined “Open Source Metric” to be a filter “is OSI approved” on top of License Coverage.

If OSI follows through to create some marketing around this “Open Source Metric” and they highlight the CHAOSS project — it would

[2019-11-05 18:05] GeorgLink opened #70 "idea: Open Source Metric"
At All Things Open, @dizquierdo and I met with Patrick and Nick from OSI. They want to have some publicity around an “Open Source Metric”. Yesterday during the CHAOSS Risk WG, we defined “Open Source Metric” to be a filter “is OSI approved” on top of License Coverage.

If OSI follows through to create some marketing around this “Open Source Metric” and they highlight the CHAOSS project — it would

[2019-11-05 18:06] GeorgLink opened #71 "idea: Open Source Metric"
At All Things Open, @dizquierdo and I met with Patrick and Nick from OSI. They want to have some publicity around an “Open Source Metric”. Yesterday during the CHAOSS Risk WG, we defined “Open Source Metric” to be a filter “is OSI approved” on top of License Coverage.

If OSI follows through to create some marketing around this “Open Source Metric” and they highlight the CHAOSS project — it would

[2019-11-05 18:06] GeorgLink opened #72 "idea: Open Source Metric"
test

[2019-11-05 23:49] GeorgLink opened #73 "idea: Open Source Metric"
At All Things Open, @dizquierdo and I met with Patrick and Nick from OSI. They want to have some publicity around an “Open Source Metric”. Yesterday during the CHAOSS Risk WG, we defined “Open Source Metric” to be a filter “is OSI approved” on top of License Coverage.

If OSI follows through to create some marketing around this “Open Source Metric” and they highlight the CHAOSS project — it would

[2019-11-09 17:57] #62 closed

[2019-11-09 18:00] #72 closed

[2019-11-09 18:01] #70 closed

[2019-11-09 18:01] #69 closed

[2019-11-09 18:01] #68 closed

[2019-11-09 18:01] valeriocos commented on #71
duplicated https://github.com/chaoss/grimoirelab-elk/issues/723

[2019-11-09 18:01] #71 closed

[2019-11-09 18:01] valeriocos commented on #70
duplicated chaoss/grimoirelab-elk#723

[2019-11-09 18:01] valeriocos commented on #69
duplicated chaoss/grimoirelab-elk#723

[2019-11-09 18:02] valeriocos commented on #68
duplicated chaoss/grimoirelab-elk#723

[2019-11-09 18:02] valeriocos commented on #67
duplicated chaoss/grimoirelab-elk#723

[2019-11-09 18:02] valeriocos commented on #66
duplicated chaoss/grimoirelab-elk#723

[2019-11-09 18:02] #67 closed

[2019-11-09 18:02] #66 closed

[2019-12-09 09:06] svdo opened #80 "[feature request] License analysis: Support repositories that have a single LICENSE file"
Fortunately legal departments nowadays are OK with having only a single LICENSE file top-level in source code repositories. We don't need to explicitly state neither license nor copyright in every single file anymore. Since this has become a quite common practice, it would be nice for the license analysis to support this. In the current form it is of no use for such repositories.

Thank you for yo

[2019-12-09 09:07] svdo opened #81 "[feature request] Analysing licenses of dependencies"
# TL/DR

I think it would be valuable for Graal to be able to analyse the (open source) software licenses of _dependencies_ of my software.

# Rationale

People and organisations generally want to adhere to the licenses under which software is made available to them. Nowadays this has become so difficult that tooling is needed to help. Take for example the Javascript/nodejs ecosystem. When you dev

[2020-01-10 10:45] svdo opened #84 "[cocom] Request to Elasticsearch fails on grimoire_creation_date"
I'm running the cocom analysis, using grimoirelab/full-3p that I built myself from master (0.2.36 / c612e657fdd99e00c9389d0021612784eb1ec122), on a project from GitHub. When I open the `cocom_study_project_wise_evolution_ccn_functions` view, I get an error:

[code]

This is my projects json:

[code]

This is the relevant part of my config:

[code]

Is this a bug? Am I doing something wrong? Thanks

[2020-01-10 12:33] svdo opened #85 "[cocom] Error: Complex regular subexpression recursion limit exceeded"
When I try to analyse the repository https://github.com/philips-software/cogito, I see the following error message on the console (multiple times):

[code]

I don't see any information about this in my log file. I'm running a self-built `full-3p` from master 0.2.36 (c612e657fdd99e00c9389d0021612784eb1ec122).

Does this mean anything to you?

[2020-01-13 10:54] svdo commented on #85
@valeriocos maybe? Or should I put this in grimoirelab-preceval?

[2020-01-13 11:10] svdo commented on #85
Hmm never mind. This is something going wrong in `cloc` itself. Moreover, it appears to be only a warning, when I run `cloc` manually I still get the output table.

[2020-01-13 11:10] #85 closed

[2020-01-13 11:33] svdo commented on #85
Created an issue about this over here: https://github.com/AlDanial/cloc/issues/454.

[2020-01-13 11:56] valeriocos commented on #85
Thank you for opening the issue upstream!

[2020-01-13 14:02] svdo opened #86 "[cocom] [colic] Problem with enrichment?"
I am running five different projects through Grimoirelab now, including cocom and colic analysis. I'm using my self-built version of `grimoirelab/full-3p` v0.2.36.

Somehow only two of the projects show up on the dashboards. When investigating this, I found something strange in the enriched index. For example, I run this query (to filter out the bulk of the entries):

[code]

This gives me hits th

[2020-01-14 09:27] svdo commented on #85
@valeriocos It does raise the question though whether `cloc` should be called with the `--strip-str-comments`, which is needed to make the warning disappear even after the fix is deployed. Quoting from the `cloc` README:

Given that it is just a warning, I guess I would not add the option without verifying the impact in both of those two aspects... It might be something you should be able to confi

[2020-02-07 17:42] valeriocos commented on #86
Hi @svdo, sorry for the late reply.

The error was due to the fact that the param `git-path` in your configuration file was set `/tmp/git-cocom`. This caused to clone the repos in the same folder (mixing their info). With the fix at #87, each repo has now its own folder and you don't need to set the `git-path` param.

[2020-02-07 19:38] svdo commented on #86
Great find, @valeriocos! I hope it gets merged soon, so that I can verify that it indeed fixes the issue for me. Thanks again!!!

[2020-02-09 17:27] florentk opened #88 "[cocom] Add languages name in addition of file extension"
To differenciate the language of a file analysed by Graal, currently we have the file extension (py, cpp, rb ...). To improve the lisibilty in a graph we could also have the language name like "Python", "C++" or "Ruby".

https://github.com/kiwix/metrics/issues/36

[2020-02-10 10:37] valeriocos commented on #88
Hi @florentk , the information about the language can be added in the enrichment phase.

Ideally, the collection phase (e.g., graal and perceval backends) tries to modify as less as possible the original data. All data processing activities happen in ELK during the enrichment. Thus, a possible solution would be to define a dict that maps extensions to languages and based on the line at https://git

[2020-02-10 10:39] valeriocos commented on #84
Hi @svdo,

A similar error message generally pops out when the index is empty. Do you remember the steps that produced this error? Thanks

[2020-02-10 10:41] #86 closed

[2020-02-10 10:42] valeriocos commented on #86
You're welcome @svdo. The fix will be available in the next release (0.2.38)

[2020-02-10 11:30] florentk commented on #88
Hi @valeriocos , ok to transfert this issue to ELK, in doubt I had put it here.

For the dict that maps extensions to language, this seem good, but I also considered to use python-libmagic. But after sever test some langage are poorly detected (like javascript). Maybe use a hard coded dict + libmagic for langages not in this dict.

[2020-02-10 11:39] valeriocos commented on #88
No worries :)

OK

[2020-02-10 12:13] svdo commented on #84
Sorry @valeriocos, I don't remember. It could be that it was still building the indexes when I saw this. When I was seeing this, I didn't notice a pattern to when it would occur. I'm fine with closing this for now under the assumption that it was because the index was not yet filled. I'd reopen if I have more info. I'll leave it up to you how you want to handle this.

[2020-02-12 15:38] valeriocos opened #89 "Evaluate the approach underlying Graal"
Graal contains 6 backends that allow to fetch different kind of information from source code (complexity, licenses, dependencies, etc.). Each backend can fetch source code information using different tools. For instance, `coqua` relies on `pylint` and `flake8` for code quality, `colic` leverages on `nomos` and `scancode` to get license insights. Every time a backend is enhanced to support a new to

[2020-02-19 16:52] valeriocos commented on #84
@svdo I have tried to reproduce this issue, but without success. The only difference is the param `git-path = /tmp/git-colic` which isn't needed anymore.

[code]

Feel free to reopen the issue if needed

[2020-02-19 16:52] #84 closed

[2020-03-05 10:35] valeriocos commented on #86
@svdo the release is out, please check if the error is gone on your side. Thanks

[2020-03-06 16:17] svdo commented on #86
I'm trying to build the full-3p image from 0.2.38, but I get an error:

[code]

In other words: 404 on https://mentors.debian.net/debian/pool/main/f/fossology/fossology_3.6.0-1.dsc...

[2020-03-06 17:46] valeriocos commented on #86
The package at https://mentors.debian.net/package/fossology has been removed. I'm checking how to fix this.

[2020-03-11 07:40] valeriocos commented on #86
sorry @svdo for the late reply! I found a link that could be used to solve this problem: http://mirrors.kernel.org/fossology/releases/3.0.0/debian/7.0/. I'm going to open an issue to track it

[2020-04-01 05:34] Julianbaozi commented on #44
@FredaPinto Hi, I ran into the same problem. I tried to use **pip3 install cloc** to install the dependency but it doesn't work.

[2020-04-01 06:13] valeriocos commented on #44
Hi @Julianbaozi

Cloc isn't a python package, `sudo apt-get install cloc`.
Ref: https://github.com/chaoss/grimoirelab-graal#how-to-installcreate-the-executables

[2020-04-01 06:15] Julianbaozi commented on #44
@valeriocos Thank you! It worked very well.

[2020-04-01 06:19] valeriocos commented on #44
you're welcome @Julianbaozi

[2020-04-13 09:46] Julianbaozi commented on #44
@valeriocos I installed cloc.
![image](https://user-images.githubusercontent.com/44662651/79111172-ddb8cf00-7d30-11ea-982b-08d6e5a412df.png)
but still got the error
![image](https://user-images.githubusercontent.com/44662651/79111226-f75a1680-7d30-11ea-8803-bfe3a07ac997.png)
I'm using docker-compose to compute cocom.

[2020-04-13 11:21] valeriocos commented on #44
Sorry for the inconvenience @Julianbaozi !

There is a specific [docker image](https://github.com/chaoss/grimoirelab/tree/master/third-party) to use graal, however due to a change in a third-party library, the image cannot be built: https://github.com/chaoss/grimoirelab/issues/306

The workaround is to install `cloc` inside the container, as follows:
- `docker exec -it <name-of-the-container> bash

[2020-04-13 13:27] Julianbaozi commented on #44
What if i use docker-compose? Can i install it in the container too?

On Mon, Apr 13, 2020 at 4:21 AM valerio <notifications@github.com> wrote:

[2020-04-13 13:45] valeriocos commented on #44
Yes, sorry for not being clear in the previous message. The part below works for docker and docker-compose.

[code]

[2020-04-13 13:48] Julianbaozi commented on #44
Thank you so much!

On Mon, Apr 13, 2020 at 6:45 AM valerio <notifications@github.com> wrote:

[2020-04-13 13:56] valeriocos commented on #44
You're welcome! Don't hesitate to write if needed!

[2020-05-13 09:23] valeriocos opened #93 "Travis CI fails due to error when creating nomossa executable"
[code]

[2020-05-24 07:30] valeriocos opened #95 "git command - fatal: destination path, repo already exists and is not an empty directory"
When executing the docker 3p container, the error below appears after the second execution (included).

[code]

[2020-05-28 16:14] #93 closed

[2021-12-02 20:07] nhasabni opened #101 "Graal does not honor environment variable"
I am using a different version of `git` than the one installed on the system by default. Newer version of the `git` is installed in `~/bin` and `PATH` variable is set to `~/bin`. Shell command for `git` picks it up correctly as:

[code]

But Graal does not:
[code]

`worktree` is part of `git` installed under `~/bin`:
[code]
[code]

[2021-12-03 16:13] valeriocos commented on #101
Hi @nhasabni,

Please try to pass your executable path via the param `--exec-path`.

[code]

I tried the following and worked for me
- install git latest version

[code]
- install graal and dependencies
- execute cocom backend

[code]

I have also tried to create a soft link and worked too

- check git version
[code]

- create soft link and backup old executable
[code]

- Check git version
[code]

[2021-12-03 16:26] jgbarah commented on #101
Thx, @valeriocos!

[2021-12-03 18:30] nhasabni commented on #101
Thanks @valeriocos for looking into this. Unfortunately, `--exec-path` command line param does not help.
[code]

Also, I do not have sudo access in the machine that I am using for setup. So I cannot create a softlink for `/usr/bin/git`. I think I will modify the Graal script to use path of git binary for my environment. Thanks.

[2021-12-04 10:58] jgbarah commented on #101
@nhasabni if that suits you, feel free to fork Graal, patch it so that instead of using an specific path for git it uses the one in $PATH, and make it public. It seems some other people in the hackathon could benefit from that. Also, feel free to pull request the modification to the Graal repo.

BTW, if you do this, please ensure that is mention in your final paper: not only working with the tools

[2021-12-07 18:09] altsalt opened #102 "CoLic throwing path error"
Hello, I am participating in the MSR Hackathon and have attempted to install Graal a few times to no avail. Most recently, I set up a clean Debian 11 VM to verify that it wasn't due to prior system configuration, incorrect permissions, etc. Alas, the same error is appearing:

[code]

I have tried with both a blank directory and having pre-created the `grimoirelab-graal` folder (not that this shoul

[2021-12-07 18:55] altsalt commented on #102
Related issues:
- [[scancode] Use scancode from python3 interface #64](https://github.com/chaoss/grimoirelab-graal/issues/64)
- [Cannot call (easily) the main scancode function from Python #1780](https://github.com/nexB/scancode-toolkit/issues/1780)

Also, while [this issue](https://github.com/chaoss/grimoirelab-graal/issues/101) is referencing the git path, it may be relevant.

[2021-12-07 23:05] altsalt commented on #102
I've spent hours trying to get graal and scancode to play nice to no avail. I think this is largely due to my python path setup, but given that I have a fresh VM that only being used for this, there is likely an issue with the build instructions.

My latest attempted has graal being built into `scancode-toolkit/bin` using `--prefix`. This command is then successful:
`(scancode-toolkit) $ graal col

[2021-12-08 10:25] valeriocos commented on #102
Hi @altsalt,

I followed the steps here https://github.com/chaoss/grimoirelab-graal#how-to-installcreate-the-executables, section `ScanCode`

[code]

[code]

The execution from command line and python were OK

- command line

[code]

- python

[code]

Hope this helps

[2021-12-08 15:28] altsalt commented on #102
An error has been thrown in step 1. I'll install the missing package and keep pushing through, but it may point to part of the problem.

[code]

FWIW, I had been building ScanCode from the main branch rather than checking one out.

[2022-01-18 15:02] leonvisscher opened #104 "Graal backends structure improvement proposal"
Hi @zhquan and @vchrombie!

As part of the Grimoirelab MSR hackathon our team has been working on making some refactoring and maintenance contributions for the Graal project. Based on our experience of using Graal and exploring the code we identified some refactoring opportunities. Besides that we looked at the existing issues in this repository, and found issue [Issue #89](https://github.com/chao

[2022-01-21 02:45] vchrombie commented on #104
Hi @leonvisscher, thanks for your interest in the GrimoireLab.

Your approach looks much simpler which was the goal of issue #89 if I understand correctly. I didn't get time to look more into the code to understand the approach. I will surely look into it this weekend.

Also, I'm interested to hear comments from @sduenas and @jgbarah, and what they think about it?

[2022-01-25 07:59] leonvisscher commented on #104
Thanks for you reaction @vchrombie!

We have opened [a pull request](https://github.com/chaoss/grimoirelab-graal/pull/107) where we've implemented this proposal for only the CoLic backend to keep the changes comprehensible. Would you be able to look at the PR this week? We would like to gather and process feedback before the hacakthon submission.

[2022-02-05 03:24] vchrombie opened #109 "CI is broken because of old python dependency"
The CI builds were failing
[code]

The support for Python 3.6 has officially ended on 23 Dec 2021. I think it makes sense to remove 3.6 and add other versions if needed.

[2022-02-05 03:25] vchrombie commented on #109
Related to https://github.com/chaoss/grimoirelab/issues/460

[2022-03-17 10:09] jjmerchante opened #112 "Graal doesn't work with latest version of Git (2.35.1)"
When Perceval updates the repository to fetch the items, Git refuses to fetch into the currently checked out branch of **any** working tree. This change was made in the lastest version of Git (2.35.1): https://github.com/git/git/commit/8bc1f39f411e06b940230dc84da5568dfafec922
[code]

It only fails when the worktree is created using the following command:
[code]

But it doesn't fail when the worktr

[2022-03-24 13:28] #112 closed

[2022-03-25 06:55] vchrombie commented on #109
This issue is fixed in the PR https://github.com/chaoss/grimoirelab-graal/pull/111

[2022-03-25 06:55] #109 closed